*{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4)),url(food.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    font-family: monospace;
}

.loginbox{
    width: 320px;
    height: 420px;
    background-color: gainsboro;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}

.title-box{
    width: 220px;
    margin: auto;
    position: relative;
    box-shadow: 0 0 20px 9px #008000;
    border-radius: 30px;
    margin-bottom: 20px;
}

h1{
    margin: 0;
    padding: 0 0 0;
    text-align: center;
    font-size: 28px;
    color: green;
    
}

.loginbox p{
    margin: 0;
    margin-top: 40px;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
}

.loginbox input{
    width: 100%;
    margin-bottom: 10px:
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0;
    background: transparent;
    outline: none;
    font-size: 12px;
}

.submit-btn{
    height: 10%;
    width: 35%;
    padding: 0;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 20px;
    background-color: green;
    border: 0;
    outline: none;
    border-radius: 50px;
}
