html, body{
    margin:0px;
    height: 100%;
    background-color: black;
}
.body{
    height: 100%;

    background-image: url("/static/images/background.jpg");

 
}
.home{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: wh;
    background-color: aquamarine;
    empty-cells: hide;
}
a{
    text-decoration: none;
}
#home, #home:active, #home:focus{
    color:inherit
}

.nav{
    display: inline;    
}

#nav, #nav:active, #nav:focus{
    text-decoration: none;
    
    color: inherit;
}
#nav:hover{
    background-color: rgba(0, 0, 0, 15%);
}

.about{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 50%;
    background-color: aquamarine;
}
