<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="about.css">
    </head>

    <body>
        <div class = "body">
        <div class = "home">
            <a id = "home" href = "home.html"><h1>FoodieHub</h1></a>
            
            <div class = "navbar">
                <a id = "nav" href = "about.html">About</a>
                <a id = "nav" href = "login.html">Login</a>
                <a id = "nav" href = "registration.html">Register</a>
            </div>
        </div>



        <div class = "about">
            <h1>About Us</h1>
            <p>We are all computer science students at The City College of New York.
                This project was a collaboration amongst the four of us for our CSC 33600 class
                (Intro to Database Systems). The purpose of this project was to understand how to 
                design a database given a dataset, and then creating a fullstack application for ease
                of access of the database.
            </p>
           
            <p>
                This project implements the use of various technologies including, MySQL,
                Flask, Xammp. The following languages were used to build this application: 
                Python, SQL, javascript, html, and css.
            </p> 
        </div>
        </div>
    </body>
</html>
